@model PartListingModel
@{
    ViewData["Title"] = "Parts";
}

<h1 class="container">All of out Parts</h1>

<div class="col-md-12">    
    <a class="btn btn-primary btn-md" asp-area="Parts" asp-controller="Parts" asp-action="Create">Sell Part</a>
</div>

@{
    var previousDisabled = Model.CurrentPage == 1 ? "disabled" : string.Empty;
    var nextDisabled = Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty;
}

<ul class="pagination pagination-lg">
    <li class="page-item @previousDisabled">
        <a class="page-link @previousDisabled" href="/Parts/Parts/Index?page=@Model.PreviousPage" aria-label="Previous">
            <span aria-hidden="true">«</span>
            <span class="sr-only">Previous</span>
        </a>
    </li>
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <li class="page-item @(Model.CurrentPage == i ? "active" : string.Empty)"><a class="page-link" href="/Parts/Parts/Index?page=@i">@i</a></li>
    }
    <li class="page-item @nextDisabled">
        <a class="page-link @nextDisabled" href="/Parts/Parts/Index?page=@Model.NextPage" aria-label="Next">
            <span aria-hidden="true">»</span>
            <span class="sr-only">Next</span>
        </a>
    </li>
</ul>

<div class="col-md-12">
    @foreach (var part in Model.Parts)
    {
        <div class="container col-md-4">
            <img width="350" height="200" src="@part.ImageUrl" />
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Price $
                        </th>
                        <th>
                            Condition
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            @part.Name
                        </th>
                        <th>
                            @part.Price
                        </th>
                        <th>
                            @part.Condition
                        </th>
                    </tr>
                    <tr>
                        <td><a class="btn btn-primary btn-md" asp-area="Parts" asp-controller="Parts" asp-action="Buy" asp-route-id="@part.Id">Buy</a></td>
                        @if (User.IsInRole(WebConstants.AdministratorRole))
                        {
                            <td><a class="btn btn-warning btn-md" asp-area="Parts" asp-controller="Parts" asp-action="Edit" asp-route-id="@part.Id">Edit</a></td>
                            <td><a class="btn btn-danger btn-md" asp-area="Parts" asp-controller="Parts" asp-action="Delete" asp-route-id="@part.Id">Remove</a></td>
                        }
                        else
                        {
                            @if (part.UserId == User.Identity.GetUserId())
                            {
                                <td><a class="btn btn-warning btn-md" asp-area="Parts" asp-controller="Parts" asp-action="Edit" asp-route-id="@part.Id">Edit</a></td>
                                <td><a class="btn btn-danger btn-md" asp-area="Parts" asp-controller="Parts" asp-action="Delete" asp-route-id="@part.Id">Remove</a></td>
                            }
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    }
</div>